apiclient
beautifulsoup4
boto3
botocore
css_inline==0.8.2
datetime
fuzzywuzzy
google-api-python-client
google-auth
google-auth
httplib2
matplotlib==3.0.2
mysql-connector-python
networkx
numpy
openpyxl
pandas
pendulum
pymongo==3.11.4
PyMySQL
pyt
python-imap
pytz
pyyaml
seaborn==0.11.2
secure-smtplib
selenium
sqlalchemy
tabulate
webdriver_manager
xlrd
